<!-- <div class="container">
  <form [formGroup]="myform" (ngSubmit)="fsubmit()">
    <h1>Login</h1>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username"  formControlName="username">
    </div>
    <br>
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" name="password"  formControlName="password">
    </div>
    <div class="input">
      <input type="submit" class="btn" value="Login">
    </div>
  </form>
</div> -->





<router-outlet></router-outlet>